<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{$company_name} - {$company_title}</title>
    <meta name="description" content="{$company_description}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="css/w3.css" />
    <link rel="stylesheet" href="css/customer.css" />
</head>
<body class="customer-payments">
    <div class="w3-container w3-blue">
        <div class="w3-row">
            <div class="w3-col l6 s12">
                <h1><a href="index.php">{$company_name}</a></h1>
            </div>
            <div class="w3-col l6 s12">
                <div class="w3-right">
                    <a href="login.php" class="w3-btn w3-white">Login</a>
                    <a href="join.php" class="w3-btn w3-white">Join</a>
                </div>
            </div>
        </div>
    </div>
    <div class="w3-container w3-light-gray">
        <div class="w3-row">
            <div class="w3-col l2 s12 w3-panel">
                {include file="includes/inc.menus.html"}
            </div>
            <div class="w3-col l10 s12 w3-panel">
                <h1>Change password</h1>
                <p>Name: <strong>{$customer->name}</strong></p>
                <form class="w3-container" name="password-change" method="post" action="password-change.php">
                    <p>
                        <input name="password[old]" class="w3-input" type="password" />
                        <label>Old Password</label>
                    </p>
                    <p>
                        <input name="password[new]" class="w3-input" type="password" />
                        <label>New Password</label>
                    </p>
                    <p>
                        <input name="password[confirm]" class="w3-input" type="password" />
                        <label>Confirm Password</label>
                    </p>
                    <p>
                        <input name="change" class="w3-btn w3-blue" type="submit" value="Change my Password" />
                    </p>
                </form>
            </div>
        </div>
    </div>
    <div class="w3-container w3-white">
        {include file="includes/inc.footer.html"}
    </div>
</body>
</html>