/*.log
/*.sql
/.idea
/autolog.ini
/autolog.php
/composer.lock
/configs.ini
/nbproject
/phpunit/*.cache
/phpunit/logs/testdox.txt
/store/concepts/*.upload
/store/database/*.db
/store/database/*.db-journal
/store/errors/*.log
/store/sessions/sess_*
/store/smarty/templates_c/*.php
/vendor
