<div class="w3-container w3-yellow">
    <h2>Upload an Artwork</h2>
</div>

<form class="w3-container" id="project" name="project" method="post" action="upload-again.php" enctype="multipart/form-data">
    <p>
        <input class="w3-input" name="concepts[]" type="file" value="Upload a Concept" placeholder="concept.zip" />
        <label class="w3-text-blue">Browse your Artwork (.zip format)</label>
    </p>

    <h3>Agreements</h3>
    <p class="info">By creating a project, you agree to our <a href="tnc.php">terms and conditions</a>, <a href="privacy.php">privacy policy</a> and payment requirements.</p>

    <p>
        <input type="hidden" name="MAX_FILE_SIZE" value="‭8388608‬" />
        <input type="submit" name="submit" class="w3-btn w3-purple" value="I Agree, Create my Project" />
    </p>
</form>
