<form name="payment" method="post" action="payment.php">
    <p>Demo Mode: Instant Payment</p>
    USD $
    <input type="number" name="budget" size="6" maxlength="6" value="{$project->budget}" readonly="readonly" placeholder="0.00" style="width: 100px;" />
    <!-- @todo Introduce better protection code -->
    <input type="hidden" name="code" value="{$project->budget|md5}" />
    <input type="hidden" name="project" value="{$project->id}" />
    <input type="submit" name="pay" value="Pay Now" class="w3-btn w3-purple" />
</form>
