<div class="menus">
    <p><a class="w3-btn w3-teal" href="index.php">Upload an Artwork</a></p>
<!--
    <p><a class="w3-btn w3-blue" href="dashboard.php">Dashboard</a></p>
-->
    <p><a class="w3-btn w3-indigo" href="projects-dues.php">My Dues <span class="w3-text-yellow">(!)</span></a></p>
    <p><a class="w3-btn w3-blue" href="projects.php">My Projects</a></p>
    <p><a class="w3-btn w3-blue" href="payments.php">My Payments</a></p>
    <p><a class="w3-btn w3-blue" href="profile.php">Change Password</a></p>
    <p><a class="w3-btn w3-blue" href="info.php">Session Info</a></p>
    <p><a class="w3-btn w3-red" href="borrow.php">Borrow Projects</a></p>
    <p><a class="w3-btn w3-blue" href="logout.php">Logout</a></p>
</div>