<div class="menus">
<!--
<p><a class="w3-btn w3-red"  href="reinstall.php" onclick="return false;">Re-Install Database</a></p>
<p><a class="w3-btn w3-teal" href="dashboard.php">Dashboard</a></p>
<p><a class="w3-btn w3-teal" href="customers.php">Customers</a></p>
<p><a class="w3-btn w3-teal" href="developer-assign.php">Assign a Developer</a></p>
<p><a class="w3-btn w3-teal" href="maintenance.php">Maintenance</a></p>
-->
<p><a class="w3-btn w3-teal" href="artworks.php">Artworks -  Files</a></p>
<p><a class="w3-btn w3-teal" href="projects-estimations.php">Pending Estimations</a></p>
<p><a class="w3-btn w3-teal" href="projects-estimated.php">Estimated Projects</a></p>
<p><a class="w3-btn w3-teal" href="projects-recent.php">Recent Projects</a></p>
<p><a class="w3-btn w3-teal" href="projects-terminations.php">Terminated Projects</a></p>
<p><a class="w3-btn w3-teal" href="payments.php">Payments Received</a></p>
<p><a class="w3-btn w3-teal" href="developers.php">Developers</a></p>
<p><a class="w3-btn w3-teal" href="info.php">Info</a></p>
</div>
